@page
@model SoccerTournametManager.App.Frontend.Pages.Jugadores.DetailsModel
@{
}
<h1>Detalle del jugador</h1>
<div class="card m-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Model.jugador.Nombre</h5>
    <p class="card-text">
        <p> <strong>Id:</strong> @Model.jugador.Id</p>
        <p> <strong>Numero:</strong> @Model.jugador.Numero</p>
        <p> <strong>Posicion:</strong> @Model.jugador.Posicion</p>
    </p>
    <a class="btn btn-primary btn-block" asp-page="./Index">Back</a>
  </div>
</div>